In [3]:
import numpy as np
import pandas as pd

In [4]:
col_names = ['index', 'image'] + list(range(1,11)) + ['semantic1', 'semantic2', 'challenge']
AVA = pd.read_csv('AVA.txt', sep=' ', names=col_names)
AVA['mean'] = AVA.apply(lambda row: sum(row[range(1,11)] * range(1,11))/sum(row[range(1,11)]), axis = 1)
AVA['score'] = AVA.apply(lambda row: row['mean']/10, axis = 1)
AVA['rounded_mean'] = AVA.apply(lambda row: int(np.round(row['mean']))-1, axis = 1)
AVA

,index,image,1,2,3,4,5,6,7,8,9,10,semantic1,semantic2,challenge,mean,score,rounded_mean
0,1,953619,0,1,5,17,38,36,15,6,5,1,1,22,1396,5.637097,0.563710,5
1,2,953958,10,7,15,26,26,21,10,8,1,2,1,21,1396,4.698413,0.469841,4
2,3,954184,0,0,4,8,41,56,10,3,4,0,0,0,1396,5.674603,0.567460,5
3,4,954113,0,1,4,6,48,37,23,5,2,2,15,21,1396,5.773438,0.577344,5
4,5,953980,0,3,6,15,57,39,6,1,1,1,22,38,1396,5.209302,0.520930,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255525,255526,56938,1,7,17,40,84,56,31,13,6,1,9,0,181,5.339844,0.533984,4
255526,255527,57304,1,0,8,25,50,65,55,26,18,7,1,18,181,6.235294,0.623529,5
255527,255528,56711,0,0,8,11,26,47,48,56,30,22,9,24,181,7.072581,0.707258,6
255528,255529,57303,0,2,19,30,75,60,30,25,5,2,22,0,181,5.608871,0.560887,5
255529,255530,57221,1,3,10,39,51,61,39,29,5,7,19,21,181,5.853061,0.585306,5

In [5]:
AVA.to_csv('AVA_full.csv')